
<h1>navbar</h1>
<a href="/">home</a>
<a href="">booking</a>
<a href="http://localhost:5000/user/register">register</a>
<a href="http://localhost:5000/user/login">login</a>
<a href="#">logout</a>
<a href="">status</a>

